---
applicationName: bonus-api

containerImage:
  repository: dockerhub.timeweb.cloud/holodome/ds-bonus
  tag: latest
  pullPolicy: Always

containerPorts:
  http:
    port: 80
    protocol: TCP

startupProbe:
  httpGet:
    path: /manage/health
    port: http
  failureThreshold: 30
  periodSeconds: 3

livenessProbe:
  httpGet:
    path: /manage/health
    port: http

readinessProbe:
  httpGet:
    path: /manage/health
    port: http

lifecycleHooks:
  enabled: false

replicaCount: 1

service:
  enabled: true
  ports:
    app:
      port: 80
      targetPort: http
      protocol: TCP

envVars:
  DB_HOST: postgres
  POSTGRES_USER: program
  POSTGRES_PASSWORD: test
  POSTGRES_DB: privileges
  # HOST: flights-api
  PORT: 80