---
applicationName: gateway

containerImage:
  repository: holodome/ds-gateway
  tag: latest
  pullPolicy: Always

containerPorts:
  http:
    port: 80
    protocol: TCP

startupProbe:
  httpGet:
    path: /manage/health
    port: http
  failureThreshold: 30
  periodSeconds: 3

livenessProbe:
  httpGet:
    path: /manage/health
    port: http

readinessProbe:
  httpGet:
    path: /manage/health
    port: http

lifecycleHooks:
  enabled: false

replicaCount: 1

service:
  enabled: true
  ports:
    app:
      port: 80
      targetPort: http
      protocol: TCP

ingress:
  enabled: true
  ingressClassName: nginx
  path: /api/v1/
  pathType: Prefix
  servicePort: app

envVars:
  PORT: 80
  FLIGHTS_SERVICE_URL: http://flights-api
  TICKETS_SERVICE_URL: http://tickets-api
  PRIVILEGES_SERVICE_URL: http://bonus-api
  AUTH_CLIENT_ID: ds
  AUTH_CLIENT_SECRET: DSrFTJQIogtflWlTcS9mtoZVia5IoNes
  IDP_ENDPOINT: http://keycloak.default.svc.cluster.local:8080/realms/ds/protocol/openid-connect/token
  JWKS_ENDPOINT: http://keycloak.default.svc.cluster.local:8080/realms/ds/protocol/openid-connect/certs