name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: 'pip'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt
          python3 -m pip install -r requirements-test.txt

      - name: Run tests with pytest
        run: |
          pytest app/bonus/test.py -v
          pytest app/flights/test.py -v
          pytest app/tickets/test.py -v

  build:
    name: Autograding
    runs-on: ubuntu-latest
    environment: env
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v2
      
      - name: Login to docker
        run: docker login -u ${{ secrets.DOCKER_LOGIN }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build images
        timeout-minutes: 10
        run: ./build-dockers.sh
          
      - name: Deploy 
        env:
          FILE_SECRET: ${{ secrets.K8S_CONFIG }}
        run: |
          echo "$FILE_SECRET" | base64 --decode > ~/k8s_config.yaml
          export KUBECONFIG=~/k8s_config.yaml
          helm repo add gruntwork https://helmcharts.gruntwork.io
          helm repo update
          helm upgrade --install flights-api gruntwork/k8s-service -f k8s/deploy/flights.yaml --wait
          helm upgrade --install bonus-api gruntwork/k8s-service -f k8s/deploy/bonus.yaml --wait
          helm upgrade --install tickets-api gruntwork/k8s-service -f k8s/deploy/tickets.yaml --wait
          helm upgrade --install gateway gruntwork/k8s-service -f k8s/deploy/gateway.yaml --wait

      - name: Autograding
        env:
          FILE_SECRET: ${{ secrets.K8S_CONFIG }}
        run: |
          echo "$FILE_SECRET" | base64 --decode > ~/k8s_config.yaml
          export KUBECONFIG=~/k8s_config.yaml
          newman run -e v1/postman/environment.json v1/postman/collection.json
